# Build output
/build/
/bin/
*.exe
*.pdb
*.ilk
*.obj
*.exp
*.user
*.suo

# CMake + Conan cache
CMakePresets.json
conanfile.lock
*.cmake
*.bat

# VS Code
.vscode/
*.code-workspace
/*.vcxproj

# OS junk
.DS_Store
Thumbs.db
